
.main-container{
    text-align: center;
}
.btn{
    background-color: rgb(87, 146, 223);
    border-radius: 1rem;
    height:4rem;
    width:10rem;
    color:rgb(7, 7, 7);
    margin-top:5rem;
    
}body{
    background-color: black;
}